@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100..900&family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    font-family: "Inter", sans-serif;
    margin: 0%;
}
nav{ 
    background-image: linear-gradient(rgba(8, 8, 8, 0.795),rgba(20, 20, 20, 0.856));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
}
nav > img{
    width: 30px;
    display: none;
}
.nav-button > a{
    color: white;
    border-radius: 25px;
    padding: 10px 25px;
    text-decoration: none;
}
.nav-button{
    border: 2px solid rgb(155, 146, 146);
    display: flex;
    align-items: center;
    border-radius: 25px;
    background-color: transparent;
}
.fitness{
    color: rgba(255, 0, 0, 0.719);
    font-size: 30px;
    font-weight: 900;
    font-family: "Inter", sans-serif;
    font-style: italic;
}

.home-button{
    color: white;
    background-color:rgba(255, 0, 0, 0.719) ;
    border-radius: 25px;
    padding: 10px;
    text-decoration: none;
}
.w-50{
    width: 50%;
}
.get-boy-para{
    font-size: 66px;
    font-weight: 900;
    color: white;
    
}
.shape{
    font-weight: 400;
    font-family: "Dancing Script", cursive;
}
.join{
    color: white;
    font-size: medium;
    font-weight: 600;
    background-color:rgba(255, 0, 0, 0.719) ;
    border-radius: 25px;
    padding: 10px 20px;
    border: 0px;
}
.download{
    color: white;
    font-size: medium; 
    font-weight: 600;
    background-color: transparent;
    border-radius: 25px;
    padding: 10px 20px;
    border: 0px;
    border: 2px solid rgb(155, 146, 146);
}
.body-builder{
    height: 580px;
    background-image: url(/images/body-builder.png);
    background-repeat: no-repeat;
    background-position: center;
}
.two-button{
    display: flex;
    gap: 5%;
    margin-bottom: 70px;
}
.description{
    color: rgb(155, 146, 146);
    margin-bottom: 30px;
}
.count{
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.count-500{
    color: white;
    font-size: 30px;
    font-weight: 700;
}
#red-circle{
    background-color:rgba(255, 0, 0, 0.719) ;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}
#video-txt{
    color: rgb(131, 121, 121);
    font-size: 15px;
}
.video-tutorial{
    background-color: transparent;
    backdrop-filter: blur(8px);
    filter: brightness(1.5);
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 150px;
    padding:0px 10px;
    justify-content: center;
    position: relative;
    top:70%;
    left:2%;
}
.video-workout{
    background-color: transparent;
    backdrop-filter: blur(8px);
    filter: brightness(1.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    padding:10px;
    position: relative;
    top:10%;
    left: 60%;
}
.section-1{
    display: flex;
    background-image: linear-gradient(rgba(20, 20, 20, 0.856), rgb(0, 0, 0));
    align-items: center;
    padding: 10px 10%;
    justify-content: space-between;
}
.habit-txt-container{
    text-align: center;
    padding-bottom: 20px;
}
.habit-txt, .run-text, .bmi-heading{
    margin: 0%;
    color: white;
    font-size: 40px;
    font-weight: 700;
}
.section-2, .section-3{
    background-color: black;
    padding: 10px 10%;
}
.single-card{
    padding: 20px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
}
.single-card > img{
    border-radius: 50%; 
    width: 100%;
    border: 2px solid rgb(156, 153, 149);
}
.card-heading{
    color: white;
    font-size: medium;
}
.card-text{
    padding-top: 20px;
}
.card-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.run-container{
    padding: 20px;
    background-color: rgb(59, 54, 54);
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 20px;
}
.w-60{
    width: 60%;
}
.run-img{
    border-radius: 20px;
    width: 100%;
}
#join-now{
    color: white;
    font-size: medium;
    font-weight: 600;
    background-color:rgba(255, 0, 0, 0.719) ;
    border-radius: 25px;
    padding: 15px 20px;
    width: 50%;
    border: 0px;
}
#calculate{
    margin-top: 20px;
    color: white;
    font-size: medium;
    font-weight: 600;
    background-color:rgba(255, 0, 0, 0.719) ;
    border-radius: 25px;
    padding: 15px 20px;
    width: 30%;
    border: 0px;
}
.bmi-cal{
    padding: 10px 20%;
}
.cal-chart-txt{
    color: white;
    font-size: 25px;
    font-weight: 500;
}
.cal-container{
    background-color:  rgb(59, 54, 54);
    display: flex;
    padding: 10px 10%;
}
th{
    border: 1px solid black;
    color: aliceblue;
    padding: 5px;
    height: 30px;
    width: 150px;
}

td{ padding: 5px;
    color: rgb(155, 146, 146);
    border: 1px solid black;
    height: 30px;
    width: 150px;
}
table{
    border-collapse: collapse;
    border: 1px solid black;
}
.section-4
{
    background-color: black;
}
input{
    color: rgb(182, 172, 172);
    background-color:  rgb(78, 73, 73);
    height: 30px;
    width: 100%;
    border-radius: 5px;
    border: none;
}
.input-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
select{
    height: 30px;
    border-radius: 5px;
    color: rgb(182, 172, 172);
    background-color:  rgb(78, 73, 73);
}
#select-activity{
    grid-column: span 2;
}
@media (min-width:577px) and (max-width:992px) {
    nav{
        padding: 10px 3%;
    }
    .section-1{
        flex-direction: column;
        
    }
    .w-50{
        width: 100%;
    }
    .section-2, .section-3{
        padding: 10px 3%;
    }
    .cal-container{
        padding: 10px 3%;
        flex-wrap: wrap;
    }
    #join-now{
        width: 90%;
    }
    .input-container{
        grid-template-columns: repeat(1,1fr);
        gap: 10px;
    }
    

}

@media (max-width:576px) {
    nav{
        padding: 10px 3%;
    }
    nav > img{
        display: block;}
    .nav-button{
        display: none;
    }
    .w-50{
        width: 100%;
    }
    .w-60{
        width: 100%;
        margin-bottom: 10px;
    }
    .section-1{
        flex-direction: column;
        margin: auto;
    }
    .two-button{
        gap: 0px;
        justify-content: space-between;
    }
    .section-2, .section-3{
        padding: 10px 3%;
    }
    .run-container{
        flex-wrap: wrap;
    }
    #join-now{
        width: 100%;
    }
    .cal-container{
        padding: 10px 3%;
        flex-wrap: wrap;
    }
}